@import url("./components/spiner/spiner.component.css");

body {
  font-family: sans-serif;
}

a:target {
  text-decoration: none;
}

body,
h1 {
  margin: 0;
}
body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

[data-router-outlet] {
  position: relative;
  flex-grow: 1;
}
